/* Ensure Navbar is Fixed on Top */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  padding: 15px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  color: #fff;
}

.navbar .left-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .left-section .logo {

}

.navbar .middle-section {
  justify-content: space-around;
}

.navbar .middle-section a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  padding: 0 30px;
}

.navbar .middle-section a:hover {
  color: #ddd;
}